.content {
    margin: 4em;
    display:flex;
    flex-direction: column;
}

.content_block0 {
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 4em;
    background: linear-gradient(to left top,#0a0c7a,#1518c9);
    border-radius: 50px;
}

.content_block1 {
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 4em;
    background: linear-gradient(to left top,#3e0550,#810aa5);
    border-radius: 50px;
}

.content_block2 {
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 4em;
    background: linear-gradient(to left top,#c7611c,#ff7d27);
    border-radius: 50px;
}

.content #titlereference{
    color: white;
}

#block_title {
    margin-left: 1em;
    margin-right:1em;
    font-size: 2rem;
    text-align: center;
    color: white;
}

#description{
    margin-left: 3em;
    margin-right: 3em;
    padding-bottom: 2em;
    color: white
}