.content {
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
}

.content h1 {
    font-size: 4rem;
    text-align: center;
}

.contact_card{
    margin: 3em;
}

.contact_card a{
    background: linear-gradient(to left top, #1518c9, #810aa5);
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin-top: 2em;
    padding: 1em;
    border-radius: 90px;
}

.contact_card a:hover {
    background: #FFCB12;
    color:black;
}