.content {
    margin-top: 8em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    align-items: start;
    justify-content:space-evenly;
}

.LeftContentBody h1 {
    font-size: 5rem;
}

#focused_word {
    color: #FF8C12;
}

.RightContentBody {
    margin-right: 4em;
    margin-left: 4em;
}

.RightContentBody img {
    width: 20vw;
    height: auto;
}
