.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-songs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 248, 26);
    padding: 30px;
    border-radius: 50px;
}

#top-tracks-title {
    align-self: flex-start;
    font-size: 2.5rem;
    margin-bottom: 0em;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.top-songs-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 28px;
    background-color: white;
    width: 100%;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#top-tracks-options-title {
    font-size: 1rem;
    color: darkslategrey;
}

#top-tracks-button-row {
    display: flex;
    justify-content: center;
}

#top-tracks-button-row button{
    padding: 1em;
    color: black;
    font-family: Nunito, sans-serif;
    border: 0px;
    border-radius: 15px;
}

#top-tracks-past-six-months-button {
    margin-left: 5px;
    margin-right: 5px;
}

#top-tracks-button-row button.selected-top-tracks-option {
    background-color: orangered;
    color: white;
    border-radius: 15px;
}

#top-tracks-button-row button:hover {
    background-color: orangered;
    color: white;
    transition: 0.3s;
  }

.top-songs-generated-image{
    position: relative;
    width: 300px;
}

.top-songs-generated-image img {
    width: 100%;
    height: auto;
    display: block;
}

.top-song-text-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
}

#storyTitle {
    color: white;
    margin-left: 21px;
    margin-top:32px;
    margin-bottom: 0px;
    font-size: 1.5rem;
}

#songList {
    color: white;
    display: grid;
    grid-template-columns: 20px auto;
    font-size: 0.1rem;
    margin-left: 19px;
    margin-right: 25px;
    margin-top:10px;
    margin-bottom: 35px;
    height: 100%;
    font-size: 0.68rem;
}

#individualTrackData {
    margin-left: 15px;
}

#rankNumber {
    text-align: left;
    margin-left: 10px;
}

.download-top-tracks-image-button {
    background-color: orangered;
    font-family: Nunito, sans-serif;
    margin-top: 10px;
    padding: 20px;
    border: 0px;
    color: white;
    border-radius: 15px;
}

.download-top-tracks-image-button:hover{
    background-color: darkred;
}


.moodtracks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 130, 248);
    padding: 30px;
    border-radius: 50px;
}

