.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topsongs{
    position: relative;
    width: 300px;

}

.topsongs img {
    width: 100%;
    height: auto;
    display: block;
}

.top-song-text-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
}

#storyTitle {
    color: white;
    margin-left: 21px;
    margin-top:40px;
    margin-bottom: 0px;
    font-size: 1.5rem;
}

#songList {
    color: white;
    display: grid;
    grid-template-columns: 20px auto;
    font-size: 0.1rem;
    margin-left: 19px;
    margin-right: 19px;
    margin-top:15px;
    margin-bottom: 33px;
    height: 100%;
    font-size: 0.68rem;
}

#individualTrackData {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 15px;
}

#rankNumber {
    text-align: left;
    font-size: 0.8rem;
    margin-left: 10px;
}

