.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.track-info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 50px;
    width: 300px;
}

.top-tracks-card{
    background-color: rgb(233, 248, 26);
}

.rare-tracks-card{
    background-color: aqua;
}

.moodtracks-card{
    background-color: rgb(255, 93, 93);
}

.card-title {
    align-self: flex-start;
    font-size: 2.5rem;
    margin-bottom: 0em;
    color: black;
}

.card-description {
    margin-top: 5px;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    color: black;
    font-size: 1rem;
    text-align: center;
}

.card-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    background-color: white;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#card-options-title {
    font-size: 1rem;
    color: darkslategrey;
}

.card-options-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card-options-buttons button{
    padding: 1em;
    color: black;
    font-family: Nunito, sans-serif;
    border: 0px;
    border-radius: 15px;
}

.card-options-buttons .selected-top-tracks-option {
    background-color: orangered;
    color: white;
    border-radius: 15px;
}

.card-options-buttons button:hover {
    background-color: orangered;
    color: white;
    transition: 0.3s;
  }

.downloadable-story{
    position: relative;
    width: 300px;
}

.downloadable-story img{
    width: 100%;
    height: auto;
    display: block;
}

.story-text-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
}

#top-tracks-story-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    margin-left: 21px;
    margin-top:32px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    height: 97px;
}

#top-tracks-story-track-list {
    color: white;
    display: grid;
    grid-template-columns: 20px auto;
    font-size: 0.1rem;
    margin-left: 19px;
    margin-right: 25px;
    margin-top:3px;
    margin-bottom: 35px;
    height: 100%;
    font-size: 0.68rem;
}

#individualTrackData {
    margin-left: 15px;
}

#rankNumber {
    text-align: left;
    margin-left: 10px;
}

.download-image-button {
    background-color: orangered;
    font-family: Nunito, sans-serif;
    margin-top: 10px;
    padding: 20px;
    border: 0px;
    color: white;
    border-radius: 15px;
}

.download-image-button:hover{
    background-color: darkred;
}


#rare-tracks-story-grid{
    display: grid;
    grid-template-columns: 133px 133px;
    margin-left: 17px;
    margin-top: 85px;
    margin-bottom: 48px;
    margin-right: 16px;
    background-color: white;
}

.album-img1 .album-img2 .album-img3{
    width: 133.3px;
    height: 133.3px;
}

.rare-track1, .rare-track2, .rare-track3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 12px;
}

.raretracks-artist{
    font-weight:800;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

.raretracks-track{
    font-weight:800;
    text-align: center;
}



#moodtracks-story-grid{
    display: flex;
    flex-direction: column;
}

#moodtracks-happy-grid{
    display: grid;
    grid-template-columns: 133px 133px;
    margin-left: 17px;
    margin-top: 85px;
    margin-bottom: 48px;
    margin-right: 16px;
    background-color: white;
}

#moodtracks-tender-grid{
    display: grid;
    grid-template-columns: 133px 133px;
    margin-left: 17px;
    margin-top: 85px;
    margin-bottom: 48px;
    margin-right: 16px;
    background-color: white;
}

#moodtracks-energetic-grid{
    display: grid;
    grid-template-columns: 133px 133px;
    margin-left: 17px;
    margin-top: 85px;
    margin-bottom: 48px;
    margin-right: 16px;
    background-color: white;
}

.moodtracks-album-img {
    width: 165px;
    height: 165px;
}

.moodtracks-track{
    font-weight:800;
    text-align: left;
}

.moodtracks-track-info{

}

.moodtracks-artist{
    font-weight:800;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}