body {
    font-family: Nunito, sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}

.menu_bar{
    color: #000000;
    display: inline-flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.menu_bar a{
    text-decoration: none;
}

.logo {
    font-size: 25px;
    color: #e55627;
}

.navbuttons {
    font-size: 35px;
}

.navbuttons a{
    margin-left: 1em;
}

.navbuttons a:hover {
    color: #FFCB12;
}

.navbuttons a:active { 
    color: #b6910d;
}

.navbuttons a.selected {
    color: #FF8C12;
    text-decoration:underline;
}

.content {
    margin-top: 8em;
    display: inline-flex;
    display: flex;
    justify-content:space-between;
}

.LeftContentBody {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 60px;
}

.RightContentBody {
    margin-right: 6em;
    margin-left: 2em;
}

#focused_word {
    font-size: 80px;
    color: #FF8C12;
}