body {
    font-family: Nunito, sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}

.menu_bar{
    color: #000000;
    display: inline-flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.menu_bar a{
    text-decoration: none;
    color: #000000;
}

.logo {
    font-size: 25px;
    color: #e55627;
}

.navbuttons {
    font-size: 35px;
}

.navbuttons a{
    margin-left: 1em;
}

.navbuttons a:hover {
    color: #FFCB12;
}

.navbuttons a.current_tab {
    color: #FF8C12;
}